<!doctype html>
<html ng-app="webApp" ng-controller="MainCtrl as main">
<head>
  <meta charset="utf-8">
  <title>Web UI : {{Page.getTitle()}}</title>
  <meta name="description" content="social poc web ui">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li ng-if="Page.isAuthenticated()" class="nav-item">
          <a class="nav-link" href="#/wall">My Wall</a>
        </li>
        <li ng-if="Page.isAuthenticated()" class="nav-item">
          <a class="nav-link" href="#/timeline">My Timeline</a>
        </li>
        <li ng-if="Page.isAuthenticated()" class="nav-item">
          <a class="nav-link" href="#/friends">My Friends</a>
        </li>
        <li ng-if="Page.isAuthenticated()" class="nav-item">
          <a class="nav-link" href="#/post">New Post</a>
        </li>
        <li ng-if="!Page.isAuthenticated()" class="nav-item">
          <a class="nav-link" href="#/login">Sign In / Register</a>
        </li>
        <li ng-if="Page.isAuthenticated()" class="nav-item">
          <a class="nav-link" href="#/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4">Hello {{ me.login }}!</h1>
      <p class="lead">{{ Page.getDescription() }}</p>
      <hr class="my-4">
      <div>
        <div ng-repeat="(idx, message) in Page.getSuccesses()" class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="Page.flush('successes', idx)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div ng-repeat="(idx, message) in Page.getWarnings()" class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="Page.flush('warnings', idx)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div ng-repeat="(idx, message) in Page.getErrors()" class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="Page.flush('errors', idx)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div ng-view=""></div>
</div>

<div class="footer">
  <div class="container">
    <hr class="my-4">
    <p><span class="fas fa-heart"></span> from the Yeoman team</p>
  </div>
</div>

<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- angular scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.js"></script>

<!-- webApp angular scripts -->
<script src="scripts/app.js"></script>
<script src="scripts/utils.js"></script>
<script src="scripts/routes.js"></script>
<script src="scripts/factories/api.js"></script>
<script src="scripts/factories/authentication.js"></script>
<script src="scripts/factories/page.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/logout.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/friends.js"></script>
<script src="scripts/controllers/post.js"></script>
<script src="scripts/controllers/timeline.js"></script>
<script src="scripts/controllers/wall.js"></script>
</body>
</html>
