<div class="row">
  <div class="col-6">
    Your friends are listed bellow:
    <ul>
      <li ng-repeat="(idx, friend) in user.friends ">
        {{ friend.username }} <a class="btn btn-light btn-sm" ng-click="delFriend(idx)" title="click to remove"><i class="fas fa-times-circle"></i></a>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <form>
      <button ng-disabled="!isValidFormAddFriends()" type="submit" class="btn btn-primary" ng-click="addFriends()">
        &lt;&lt; Add Friend(s)
      </button>
      <select class="form-control" multiple id="newFriendsIds" ng-model="newFriendsIds"
              ng-options="other.id as other.username for other in others"></select>
    </form>
  </div>
</div>
