<div class="row">
    <div class="col-md-6">
        <p>This Web Application allow you to do following actions.</p>
        <ol>
            <li>
                <a href="#/login">Sign In you / Register you</a> / <a href="#/logout">Logout</a>
            </li>
            <li>
                <a href="#/post">Post a New Message</a>
            </li>
            <li>
                <a href="#/wall">Show your Wall</a>
            </li>
            <li>
                <a href="#/friends">Add some Friends</a>
            </li>
            <li>
                <a href="#/post">Post new Messages on your Friends Walls</a>
            </li>
            <li>
                <a href="#/timeline">Show your Timeline (posts from your friends)</a>
            </li>
        </ol>
    </div>
    <div class="col-md-6">
        <p>Future features are listed below.</p>
        <ul>
            <li>permettre de cliquer sur les @utilisateur dans les messages ;</li>
            <li>moteur de recherche pour trouver un autre utilisateur ;</li>
            <li>moteur de recherche pour trouver un message contenant un certain texte ;</li>
            <li>répondre à un message ;</li>
            <li>afficher un fil de discussion (message initial + réponses) ;</li>
            <li>permettre à l'API d'être utilisée par des applications tierce.</li>
        </ul>
    </div>
</div>

<div ng-if="!Page.isAuthenticated()" class="row">
    <div class="col-md-12">
        <p>First of all you must login You !</p>
        <a class="btn btn-primary btn-md" href="#/login" role="button">Login You</a>
    </div>
</div>
