<div class="row">
  <div class="col-md-12">
    <form class="form-inline">
      <label class="sr-only" for="inlineFormInput">Login</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="login" ng-model="user.login">

      <label class="sr-only" for="password">Username</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="password" class="form-control" id="password" placeholder="password" ng-model="user.password">
      </div>

      <button ng-disabled="!isValidFormLogin()" type="submit" class="btn btn-primary" ng-click="login()">Sign in / Register</button>
    </form>
  </div>
</div>
