<div class="row">
  <div class="col-md-12">
    <form class="form-inline">
      <button ng-disabled="!Page.isAuthenticated()" type="submit" class="btn btn-primary" ng-click="logout()">Logout</button>
    </form>
  </div>
</div>
