<div class="row">
  <div class="col-12">
    <form>
      <div class="form-group">
        <label for="postContent">Post content:</label>
        <textarea class="form-control" id="postContent" rows="4" maxlength="4096" ng-model="postContent"></textarea>
      </div>
      <div class="form-group">
        <label for="wallId">Post On (if your friend's wall are not present bellow, add a friend <a href="#/friends">here</a>)</label>
        <select class="form-control" id="wallId" ng-model="wallId" ng-options="friend.wall.id as friend.wallName for friend in friends"></select>
      </div>
      <button ng-disabled="!isValidFormPost()" type="submit" class="btn btn-primary" ng-click="post()">Post</button>
    </form>
  </div>
</div>
