<div ng-if="wall.messages.length > 0" class="row">
  <div ng-repeat="message in wall.messages | orderBy : '-datetime' ">
    <div ng-switch on="message.people.id == user.id">
      <div ng-switch-when="true">
        <div class="col-12 alert alert-primary">
          <span class="badge badge-secondary">{{message.datetime | date : 'EEEE dd/MM/yyyy HH:mm:ss'}}</span>
          <span class="badge badge-primary">You</span>
          {{message.content}}
        </div>
      </div>
      <div ng-switch-default>
        <div class="col-12 alert alert-primary">
          <span class="badge badge-secondary">{{message.datetime | date : 'EEEE dd/MM/yyyy HH:mm:ss'}}</span>
          <span class="badge badge-warning">{{message.people.username}}</span>
          {{message.content}}
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="wall.messages.length == 0" class="row">
  <div class="alert alert-danger" role="alert">
    No messages found in your wall !!!
  </div>
</div>
